@model MarketplaceVeiculos.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quilometragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quilometragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo.id_modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustivel.id_combustivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_carro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
