@model IEnumerable<Dcar.Models.Carro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCombustivelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModeloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quilometragem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCombustivelNavigation.IdCombustivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModeloNavigation.IdModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
